.collapse-block {
  display: flex;
  align-items: center;
  height: 37px;

  &.collapsed {
    .collapse-block__icon {
      i {
        &:before {
          content: '+';
          top: 50%;
        }
      }
    }
  }

  &:hover {
    text-decoration: none;
  }

  span {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 22px;
    color: #333333;
  }
}

.collapse-block__icon {
  width: 37px;
  min-width: 37px;
  height: 37px;
  background: #E9F9DD;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 22px;

  i {
    position: relative;
    display: block;
    height: 100%;

    &:before {
      content: '_';
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 22px;
      color: #6ACA1E;
      font-style: normal;
      vertical-align: middle;
    }
  }
}

@media (max-width: 767.98px) {
  .collapse-block span {
    font-size: 1rem;
    line-height: normal;
  }

  .collapse-block {
    height: auto;
  }

}
