.card-booking {
  background: #FFFFFF;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 240px;
  height: 480px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  * {
    font-family: 'Exo 2', sans-serif !important;
  }

  &.active .card-booking__general {
    top: -100%;
    opacity: 0;
  }
}

.card-booking__general {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #ffffff;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  opacity: 1;
  display: flex;
  justify-content: center;
}

.card-booking__general-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.card-booking__general-limitation {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 18px;
  left: 25px;
  z-index: 2;
}

.card-booking__general-open {
  background: url("../img/card-booking/card-booking-open.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  bottom: 8px;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.card-booking-close {
  background: url("../img/card-booking/card-booking-close.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 18px;
  display: block;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1) rotate(90deg);
  }
}

.card-booking__lightbulb {
  background: url("../img/card-booking/card-booking__lightbulb.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 29px;
  display: block;
}

.card-booking__rise {
  background: url("../img/card-booking/card-booking__rise.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 29px;
  display: block;
}

.card-booking__jump-plane {
  background: url("../img/card-booking/card-booking__jump-plane.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 29px;
  display: block;
}

.card-booking__free-fall {
  background: url("../img/card-booking/card-booking__free-fall.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 25px;
  display: block;
}

.card-booking__with-parachute {
  background: url("../img/card-booking/card-booking__with-parachute.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.card-booking__landing {
  background: url("../img/card-booking/card-booking__landing.svg") no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 25px;
  display: block;
}

.card-booking__additional {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.card-booking__additional-optional {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.card-booking__additional-optional-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
}

.card-booking__listFacts {
  background: #6ACA1F;
  display: flex;
  flex-wrap: wrap;
  padding: 13px 15px 5px;
  margin-bottom: 9px;
}

.card-booking__listFacts-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.card-booking__listFacts-item-text {
  text-align: center;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 7px;
}

.card-booking__additional-services {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 8px;

  b {
    text-transform: uppercase;
  }
}

.card-booking__additional-services-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    font-weight: 500;
    font-size: 9px;
    line-height: normal;
    color: #000000;
    margin-bottom: 0;
  }

  i {
    height: 10px;
    width: 10px;
    min-width: 10px;
    background: url("../img/card-booking/plus-icon.svg") no-repeat center;
    background-size: 100% auto;
    display: block;
    margin-right: 10px;
    position: relative;
    padding-top: 1px;
  }
}

.card-booking__additional-gift {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 25px;
  margin-bottom: 5px;
  margin-top: auto;
}

.card-booking__additional-gift-text {
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  color: #6ACA1F;
  margin-bottom: 0;
}

.card-booking__additional-gift-icon {
  background: url("../img/card-booking/buy.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 45px;
  min-width: 45px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-booking__additional-main {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.card-booking__additional-main-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 14px;
}

.card-booking__additional-main-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 6px;
}

.card-booking__additional-main-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #6ACA1F;

  span {
    text-transform: lowercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
  }
}

.card-booking__additional-main-list {
  list-style-type: none;
  padding-left: 0;
}

.card-booking__additional-main-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    color: #000000;
    margin-bottom: 0;
    padding-left: 7px;
  }
}

.card-booking__sale-icon {
  background: url("../img/card-booking/sale-icon.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 17px;
  width: 17px;
  height: 17px;
  display: block;
}

.card-booking__jump-icon {
  background: url("../img/card-booking/jump-icon.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 18px;
  width: 18px;
  height: 17px;
  display: block;
}

.card-booking__world-icon {
  background: url("../img/card-booking/world-icon.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 17px;
  width: 17px;
  height: 17px;
  display: block;
}

.card-booking__gift-icon {
  background: url("../img/card-booking/gift-icon.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 17px;
  width: 17px;
  height: 17px;
  display: block;
}

.card-booking__house-icon {
  background: url("../img/card-booking/house-icon.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 19px;
  width: 19px;
  height: 17px;
  display: block;
}

.driver-icon {
  background: url("../img/card-booking/driver-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 27px;
  display: block;
}

.cafe-icon {
  background: url("../img/card-booking/cafe-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 33px;
  height: 27px;
  display: block;
}

.bbq-icon {
  background: url("../img/card-booking/bbq-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 27px;
  display: block;
}

.wifi-icon {
  background: url("../img/card-booking/wifi-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 19px;
  display: block;
}

.balloon-icon {
  background: url("../img/card-booking/Balloon.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
  display: block;
}

.card-booking__additional-main-button {
  background: #6ACA1F;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  height: 46px;
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.card-booking__check-box {
  background: url("../img/card-booking/card-booking__check-box.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 23px;
  display: block;
}

.studying-time {
  background: url("../img/card-booking/studying-time.svg") no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 27px;
  display: block;
}

.training-icon {
  background: url("../img/card-booking/training.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
  display: block;
}

.air-pipe {
  background: url("../img/card-booking/air-pipe.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
  display: block;
}

.card-booking-equipment-icon {
  background: url("../img/card-booking/equipment.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 23px;
  display: block;
}

.icon-24-7 {
  background: url("../img/card-booking/24-7.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 25px;
  display: block;
}

.landscape {
  background: url("../img/card-booking/landscape.svg") no-repeat center;
  background-size: 100% auto;
  width: 28px;
  height: 27px;
  display: block;
}

.card-booking__star-icon {
  background: url("../img/card-booking/star-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 25px;
  display: block;
}

.card-booking__listFacts-item-wrapper {
  min-height: 29px;
  display: flex;
  align-items: center;
}

.card-booking__timeContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.card-booking__timeContainer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-booking__timeContainer-min {
  font-weight: 600;
  font-size: 9px;
  line-height: 9px;
  text-align: center;
  color: #6ACA1F;

  span {
    font-size: 12px;
  }
}

.card-booking__timeContainer-price {
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #6ACA1F;
  display: inline;
  width: max-content;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 1px;
}

.card-booking__timeContainer-human {
  display: flex;
  align-items: center;
  margin-top: 6px;

  span {
    font-weight: 600;
    font-size: 7px;
    line-height: 9px;
    text-align: center;
    color: #6ACA1F;
    margin-left: 1px;
  }

  .card-booking__timeContainer-human-counter {
    font-size: 9px;
    line-height: 9px;
  }
}

.card-booking__timeContainer-human-icon {
  background: url("../img/card-booking/green-human.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 5px;
  width: 5px;
  height: 12px;
  display: block;
}

.card-booking__additional-main-priceBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 9px;

  .card-booking__timeContainer-human-icon {
    min-width: 9px;
    height: 22px;
  }

  .card-booking__timeContainer-human {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .card-booking {
    width: 50%;
    height: 750px;
  }

  .card-booking__timeContainer-human-icon {
    width: 9px;
    height: 23px;
  }

  .card-booking__additional-main-priceBlock {
    margin-bottom: 14px;
  }

  .card-booking__general,
  .card-booking__additional-optional {
    height: 70%;
    min-height: 70%;
  }

  .card-booking__additional-main-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .card-booking__additional-main-price {
    font-size: 28px;
  }

  .card-booking__additional-main-item p {
    font-size: 14px;
    line-height: normal;
    
    br {
      display: none;
    }
  }

  .card-booking__additional-main-item {
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .card-booking__general-limitation {
    font-size: 20px;
  }

  .card-booking__general-open {
    width: 24px;
    height: 24px;
  }

  .card-booking__timeContainer-human .card-booking__timeContainer-human-counter {
    font-size: 14px;
  }

  .card-booking__additional-main-button {
    font-size: 14px;
  }

  .card-booking__additional-main {
    margin-bottom: auto;
    height: 100%;
    padding-top: 20px;
  }

  .card-booking__listFacts-item-text {
    font-size: 12px;
    line-height: normal;
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-booking__additional-services-item {
    margin-bottom: 8px;
  }

  .card-booking__additional-services-item p {
    font-size: 16px;
  }

  .card-booking__additional-services-item i {
    padding-top: 21px;
  }

  .card-booking__additional-gift-text {
    font-size: 16px;
    line-height: normal;
  }

  .card-booking__timeContainer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card-booking__timeContainer-block {
    width: 33.3%;
    margin-bottom: 12px;
  }

  .card-booking__timeContainer-min {
    font-size: 14px;
    line-height: 14px;

    span {
      font-size: 14px;
    }
  }

  .card-booking__timeContainer-price {
    font-size: 16px;
    line-height: normal;
    margin-top: 6px;
  }

  .card-booking__timeContainer-human span {
    font-size: 14px;
  }

  .card-booking__additional-main-price span {
    font-size: 16px;
  }

}

@media (min-width: 1200px) {
  .card-booking {
    width: 33%;
  }
}