.gift-someone {
  padding-top: 46px;
  background: #FFFFFF;
  padding-bottom: 45px;
}

.gift-someone__title {
  margin-bottom: 22px;
  text-align: center;
  max-width: 627px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767.98px) {

}
