.course-program-aff {
  padding-bottom: 70px;
}

.course-program-aff__title {
  text-align: center;
  margin-bottom: 35px;
}

.course-program-aff__container {
  background: #FFFFFF;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.course-program-aff__container-content {
  padding: 50px 30px 20px 30px;
}

.course-program-aff__container-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  &.collapsed {
    .collapse-block__icon i:before {
      content: '+';
      top: 50%;
    }
  }
}

.course-program-aff__container-title-1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #333333;
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #777777;
    margin-left: 30px;
  }
}

.course-program-aff__container-text {
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 0;
}

.course-program-aff__container-title-2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 17px;
  display: block;
}

.course-program-aff__container-img {
  min-height: 660px;
  height: 100%;
  width: 100%;
  background: url("../img/aff-img/course-program-aff__container-img.png") no-repeat center;
  background-size: cover;
}

.course-program-aff__container-footer {
  background: #E9F9DD;
  border-radius: 5px;
  padding: 20px 30px 50px 30px;
}

.course-program-aff__container-footer-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.course-program-aff__container-footer-form {
  margin-top: 18px;
}

.course-program-aff__container-footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;

  .form-group {
    margin-right: 28px;
    margin-bottom: 0;
    width: 100%;
  }

  .personal-data-input {
    background: #FFFFFF;
    width: 100%;
  }

  .btn {
    min-width: 239px;
    height: 55px;
  }
}

@media (min-width: 992px) {
  .course-program-aff__container-content-header {
    .collapse-block__icon {
      display: none;
    }
  }
}

@media (max-width: 991.98px) {
  .course-program-aff__container-img {
    display: none;
  }

  .course-program-aff__container-footer-row {
    flex-direction: column;

    .form-group {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  .course-program-aff__container-title-1 {
    font-size: 20px;

    span {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .course-program-aff__container-content {
    padding-top: 30px;
    padding-bottom: 0;
  }

}

@media (max-width: 575.98px) {
  .course-program-aff__container-footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .course-program-aff__container-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
