.attraction {
  padding-top: 75px;
}

.attraction__title {
  color: #333333;
  margin-bottom: 0;
  line-height: normal;
}

.attraction__subTitle {
  font-size: 1.5rem;
  line-height: 2.44rem;
  color: #333333;
  margin-bottom: 57px;
  display: block;
}

.attraction__list {
  list-style-type: none;
  padding-left: 0;
  max-width: 470px;
  margin-bottom: 0;
}

.attraction__item {
  margin-bottom: 35px;

  .media {
    align-items: center;

    img {
      margin-right: 30px;
    }
  }

  .media-body {
    font-size: 1rem;
    line-height: 19px;
    color: #333333;

    span {
      font-weight: bold;
      font-size: 1.25rem;
      margin-top: 5px;
      display: inline-flex;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
