.attraction {
  padding-top: 75px;
  position: relative;
}

.attraction__title {
  color: #333333;
  margin-bottom: 0;
  line-height: normal;
  font-weight: bold;
}

.attraction__subTitle {
  font-size: 1.5rem;
  line-height: 2.44rem;
  color: #333333;
  margin-bottom: 57px;
  display: block;
}

.attraction__list {
  list-style-type: none;
  padding-left: 0;
  max-width: 470px;
  margin-bottom: 0;
}

.attraction__item {
  margin-bottom: 35px;

  .media {
    align-items: center;
  }

  .media-body {
    font-size: 1rem;
    line-height: 19px;
    color: #333333;

    span {
      font-weight: bold;
      display: inline-flex;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.attraction__img {
  position: absolute;
  display: block;
}

.attraction__item-img {
  display: flex;
  justify-content: center;
  min-width: 55px;
  width: 55px;
  margin-right: 30px;
}

.attraction__img-plane {
  background: url("../img/tandem/air-and-tandem-img.png") no-repeat center;
  background-size: cover;
  width: 707px;
  height: 694px;
  top: -155px;
  right: 0;
  z-index: 0;
  transform: scale(1.1);
}

.attraction__img-humans {
  background: url("../img/tandem/air-and-tandem-humans-img.png") no-repeat center;
  background-size: cover;
  width: 401px;
  height: 357px;
  top: -40px;
  right: 190px;
  z-index: 0;
  transform: scale(0.8);
}
