.make-gift {
  padding-top: 62px;
  padding-bottom: 78px;
}

.make-gift__header {
  max-width: 486px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.make-gift__title {
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 8px;
  font-weight: bold;
  line-height: 162.8%;
}

.make-gift__subTitle {
  font-size: 1.25rem;
  line-height: 24px;
  color: #555555;
  margin-bottom: 0;
}

.make-gift__card {
  background: #FFFFFF;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 27px 27px 33px 35px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 325px;
  width: 100%;
}

.make-gift__card-block {
  display: flex;
  justify-content: space-between;
}

.make-gift__card-info {
  display: flex;
  flex-direction: column;
}

.make-gift__card-info-code {
  font-size: 30px;
  line-height: normal;
  color: #979695;
  margin-bottom: 20px;
}

.make-gift__card-info-text {
  font-size: 0.875rem;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;

  a {
    color: #333333;
  }
}

.make-gift__card-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.make-gift__card-logo-icon {
  background: url("../img/new-vector-icon/dzm-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 224px;
  height: 90px;
  display: block;
  margin-right: -3px;
}

.make-gift__card-logo-text {
  font-size: 1.5rem;
  line-height: 29px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;
  margin-top: 12px;
  display: block;
}

.make-gift__card-title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 29px;
  text-transform: uppercase;
  color: #333333;
  margin-top: auto;
}

.make-gift__card-btn {
  width: 173px;
  height: 43px;
  box-shadow: 0 10px 15px rgba(216, 58, 58, 0.3);
  margin-top: auto;
}

@media (max-width: 1199.98px) {
  .make-gift__card-title {
    font-size: 1.1rem;
  }
}

@media (max-width: 767.98px) {
  .make-gift__card-block:last-child {
    flex-direction: column;
  }

  .make-gift__card-title {
    margin-bottom: 14px;
    line-height: 22px;
    margin-top: 26px;
  }

  .make-gift__card-info-text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }

  .make-gift__card-info-code {
    font-size: 24px;
  }

  .make-gift__card-logo-icon {
    max-width: 135px;
    height: 70px;
  }

  .make-gift__card-logo-text {
    font-size: 18px;
  }

  .make-gift__card {
    min-height: 220px;
  }

  .make-gift {
    padding-bottom: 43px;
  }

  .make-gift__subTitle {
    font-size: 14px;
    line-height: normal;
  }
}
