.our-team {
  padding-top: 98px;
  background: #F3F3F3;
}

.our-team__title {
  text-align: center;
  margin-bottom: 10px;
}

.our-team__list {
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: 0 !important;

  .slick-list {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .slick-next {
    right: 78px;
  }

  .slick-prev {
    left: 78px;
  }

  .slick-arrow {
    z-index: 1;
  }

  .slick-dots {
    bottom: 100px;
    z-index: 1;
    text-align: left;
    width: auto;
    left: 45%;
    transform: translateX(-50%);

    li {
      width: 15px;
      height: 15px;
      background: #FFFFFF;
      border: 1px solid #6ACA1E;
      border-radius: 50%;

      button:before {
        display: none;
      }

      &.slick-active {
        background: #6ACA1E;
      }
    }
  }
}

.our-team__item {
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}

.our-team__bg-icon {
  z-index: 1;
}

.our-team__bg-icon-6 {
  top: -70px;
  right: 280px;
}

.our-team__bg-icon-20 {
  top: -5px;
  left: -30px;
}

@media (max-width: 991.98px) {
  .our-team__list .slick-prev {
    left: 30px;
  }

  .our-team__list .slick-next {
    right: 30px;
  }

  .our-team__list .slick-list {
    padding-top: 100px;
  }
}

@media (max-width: 767.98px) {
  .our-team__bg-icon {
    display: none !important;
  }

  .our-team {
    background: #FFFFFF;
    padding-top: 0;
  }

  .our-team__list .slick-prev {
    left: 40px;
  }

  .our-team__list .slick-next {
    right: 40px;
  }

  .our-team__list .slick-arrow {
    top: 42%;
  }
}
