.photo-jumping-instagram {
  padding-bottom: 101px;
}

.photo-jumping-instagram__title {
  margin-bottom: 5px;
  text-align: center;
}

.photo-jumping-instagram__subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 162.8%;
  text-align: center;
  text-transform: uppercase;
  color: #D83A3A;
  display: block;
  margin-bottom: 24px;
}

.photo-jumping-instagram__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  list-style-type: none;
  padding-left: 0;
}

.photo-jumping-instagram__item {
  //width: 19%;
  min-width: 230px;
  max-width: 230px;
  margin: 5px;
  flex: 1;
}


.photo-jumping-instagram__img {
  width: 100%;
}

.photo-jumping-instagram__bg-icon {
  z-index: 10;
}

.photo-jumping-instagram__bg-icon-6 {
  top: 10px;
  left: 27px;
}

.photo-jumping-instagram__bg-icon-19 {
  top: 30px;
  right: 100px;
}

.photo-jumping-instagram__bg-icon-13 {
  right: -52px;
  top: 330px;
}

.photo-jumping-instagram__bg-icon-13-2.background-icon-13 {
  width: 31px;
  height: 31px;
  top: 315px;
  right: 72px;
}

@media (max-width: 1219.98px) {
  .photo-jumping-instagram__item {
    max-width: 285px;
  }

  .photo-jumping-instagram__list {
    justify-content: flex-start;
  }
}

@media (max-width: 1199.98px) {
  .photo-jumping-instagram__item {
    max-width: 303px;
  }

  .photo-jumping-instagram__list {
    justify-content: space-between;
  }
}

@media (max-width: 991.98px) {
  .photo-jumping-instagram__item {
    max-width: 100%;
    width: 50%;
    min-width: 48%;
  }
}

@media (max-width: 767.98px) {

  .photo-jumping-instagram__item {
    min-width: 45%;
  }

  .photo-jumping-instagram__bg-icon {
    display: none !important;
  }

  .photo-jumping-instagram {
    padding-bottom: 30px;
  }
}
