.shares-company {
  padding-top: 64px;
}

.shares-company__container {
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 55px 8px 27px 19px;
  height: 100%;
  display: flex;
}

.shares-company__container-body {
  display: flex;
  flex-direction: column;
}

.shares-company__container-body-title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 35px;
  color: #333333;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.shares-company__container-body-subtitle {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 22px;
  color: #333333;
  margin-bottom: 24px;
  display: block;
}

.shares-company__container-imgWrapper {
  width: 211px;
  min-width: 211px;
  height: 211px;
  display: block;
  position: relative;
  border-radius: 50%;
  margin-right: 24px;

  img {
    position: absolute;
  }

  .shares-company__img-1 {
    top: -95px;
    right: -76px;
  }

  .shares-company__img-2 {
    top: 0;
    right: 0;
  }
}

.shares-company__container-imgWrapper-green {
  background: #E9F9DD;
}

.shares-company__container-imgWrapper-red {
  background: #F9E2DD;
}

.shares-company__container-body-links {
  display: flex;
  align-items: center;
}

.shares-company__container-body-links-phone {
  margin-right: 18px;
  font-weight: bold;
  color: #333333;

  &:hover {
    color: #333333;
  }
}

.shares-company__container-body-links-icon {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.shares-company__container-body-details {
  display: flex;
  margin-bottom: 23px;

  p {
    font-size: 1rem;
    line-height: 19px;
    color: #333333;
  }

  i {
    background: url("../img/new-vector-icon/two-humans-icon.svg") no-repeat center;
    background-size: 100% auto;
    width: 35px;
    min-width: 35px;
    height: 40px;
    display: block;
    margin-right: 14px;
  }
}

.shares-company__container-body-info {
  font-size: 0.875rem;
  margin-bottom: 14px;
}

.shares-company__container-body-slogan {
  font-size: 1.625rem;
  color: $secondary;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 31px;
}

.shares-company__container-body-text {
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  color: #333333;
  margin-bottom: 8px;
}

.shares-company__container-body-repost {
  display: flex;
  align-items: center;
}

.shares-company__container-body-repost-icon {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }
}
