.tandem-questions {
  background: #F3F3F3;
  padding-top: 83px;
  padding-bottom: 76px;
}

.tandem-questions__title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.25rem;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 41px;
  display: block;
}

.tandem-questions__list {
  padding-left: 40px;
  list-style-type: none;
  max-width: 405px;
}

.tandem-questions__item {
  margin-bottom: 28px;

  .media__wrapper-img {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-right: 43px;
  }

  .media {
    align-items: center;
  }

  .media-body {
    font-size: 1rem;
    line-height: 19px;
    color: #555555;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
