.tandem-questions {
  background: #F3F3F3;
  padding-top: 83px;
  padding-bottom: 100px;
}

.tandem-questions__title {
  text-align: center;
  margin-bottom: 47px;
}

.tandem-questions__list {
  padding-left: 0;
  list-style-type: none;
}

.tandem-questions__item {
  margin-bottom: 28px;
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100%;
  padding: 15px 40px 20px 16px;

  .card-body {
    border: none;
    box-shadow: none;
    padding-left: 58px;
    font-size: 1rem;
    line-height: 19px;
    color: #777777;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.tandem-questions__bg-icon {
  z-index: 1;
}

.tandem-questions__bg-icon-8.background-icon-8 {
  top: -30px;
  right: 180px;
  animation: circleBig 5s infinite ease-in-out;
}

.tandem-questions__bg-icon-9 {
  top: 0;
  right: -20px;
  animation: circleBig 5s infinite ease-in-out;
}

.tandem-questions__bg-icon-6.background-icon-6 {
  top: 35px;
  left: -70px;
  width: 53px;
  height: 73px;
  animation: arrowTop 5s infinite ease-in-out;
}

.tandem-questions__bg-icon-17 {
  top: -97px;
  right: -70px;
  animation: arrowLeft 5s infinite ease-in-out;
}

.tandem-questions__bg-icon-18 {
  right: -50px;
  bottom: 100px;
  animation: arrowBottom 5s infinite ease-in-out;
}

.tandem-questions__bg-icon-10 {
  bottom: -40px;
  right: 300px;
  animation: arrowTop 5s infinite ease-in-out;
}

.tandem-questions__bg-icon-18-2 {
  bottom: -70px;
  left: 230px;
  animation: arrowBottom 5s infinite ease-in-out;
}

.tandem-questions__bg-icon-9-2 {
  left: 100px;
  bottom: -137px;
  animation: circleBig 5s infinite ease-in-out;
}

@media (max-width: 767.98px) {
  .tandem-questions__bg-icon {
    display: none!important;
  }

  .tandem-questions {
    padding-top: 36px;
    padding-bottom: 50px;
  }

  .tandem-questions__item {
    padding-right: 15px;
  }

  .tandem-questions__item .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}
