.video-jumps {
  padding-top: 55px;
  padding-bottom: 86px;
  overflow: hidden;
}

.video-jumps__title {
  text-align: center;
  margin-bottom: 23px;
}

.video-jumps__iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-jumps__item {
  width: 786px;
  height: 429px;
  box-shadow: 0 5px 30px rgba(5, 72, 126, 0.3);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 30px 14px;

  &.start-video {
    .video-jumps__item-block {
      display: none;
    }
  }
}

.video-jumps__item-block {
  position: absolute;
  width: 100%;
  height: 100%;
}

.videoBtn_video-jumps {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.video-jumps__item-block-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}

.video-jumps__list {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 310px;
    height: 500px;
    background: linear-gradient(right,rgba(255,255,255,0),#fff);
    left: -2px;
    z-index: 100;
    top: -2px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 310px;
    height: 500px;
    background: linear-gradient(left,rgba(255,255,255,0),#fff);
    right: -2px;
    z-index: 100;
    top: -2px;
  }

  &.slider-button {
    .slick-arrow {
      width: 55px;
      height: 55px;
      z-index: 1000;
    }

    .slick-prev {
      left: 120px;
    }

    .slick-next {
      right: 120px;
    }
  }
}

.video-jumps__bg-icon {
  z-index: 200;
}

.video-jumps__bg-icon-12 {
  top: 22px;
  right: 100px;
  animation: arrowTop 5s infinite ease-in-out;
}

.video-jumps__bg-icon-11 {
  left: -100px;
  top: 110px;
  animation: circleBig 5s infinite ease-in-out;
}

.video-jumps__item-video {
  height: 429px;
}

@media (max-width: 1400px) {
  .video-jumps__list:before,
  .video-jumps__list:after {
    width: 100px;
  }
}

@media (max-width: 991.98px) {
  .video-jumps__item {
    width: 700px;
    height: 380px;
  }

  .video-jumps__list:after, .video-jumps__list:before {
    width: 30px;
  }

  .video-jumps__list.slider-button .slick-prev {
    left: 10px;
  }

  .video-jumps__list.slider-button .slick-next {
    right: 10px;
  }
}

@media (max-width: 767.98px) {
  .video-jumps {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .video-jumps__title {
    margin-bottom: 10px;
  }

  .video-jumps__bg-icon {
    display: none !important;
  }

  .video-jumps__item {
    height: 170px;
    width: 310px;
  }

  .video-jumps__list:after, .video-jumps__list:before {
    display: none;
  }

  .video-jumps__list.slider-button .slick-arrow {
    width: 38px;
    height: 38px;
  }

  .video-jumps__item-video {
    height: 100%;
  }
}
