html, body {
  * {
    font-family: 'Proxima Nova', sans-serif !important;
  }

  font-weight: normal;
}

.main-logo {
  background: url("../img/header-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 142px;
  height: 57px;
  display: block;
}

.icon-telegram {
  background: url("../img/telegram-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.icon-viber {
  background: url("../img/viber-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
}

.calendar-icon {
  background: url("../img/calendar-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: block;
}

.icon-facebook {
  background: url("../img/facebook-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-instagram {
  background: url("../img/instagram-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-tripadvisor {
  background: url("../img/tripadvisor-logotype-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-vk {
  background: url("../img/vk-social-logotype-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-youtube {
  background: url("../img/youtube-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.main {
  position: relative;
}

.btn-orange {
  min-height: 55px;
  box-shadow: 0 10px 15px rgba(216, 58, 58, 0.3);
  font-size: 16px;
}

.human-icon {
  background: url("../img/human-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 30px;
  display: block;
}

.gopro-icon {
  background: url("../img/gopro-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
}

.card-icon {
  background: url("../img/card-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 32px;
  height: 23px;
  display: block;
}

.coupon-icon {
  background: url("../img/coupon-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 38px;
  height: 37px;
  display: block;
}

.button-minus,
.button-plus {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #555555;

  background: #FFFFFF;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  border: none;
  width: 33px;
  height: 33px;
}

.btn-outline-secondary {
  color: #333333;
}

.button-number-certificate {
  height: 37px;
  max-width: 231px;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}
