.footer {
  background: #302B2B;
  padding-top: 51px;
}

.footer__bottom-block {
  background: #201C1C;
  padding-top: 15px;
  padding-bottom: 13px;
}

.footer__info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  & > span:last-child {
    margin-left: 60px;
  }
}

.footer__info-text {
  font-size: 14px;
  line-height: 17px;
  color: #B7B7B7;
  margin-bottom: 0;
}

.footer__socialNetwork-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 0;
  height: 100%;
}

.footer__socialNetwork-item {
  margin-left: 22px;
}

.footer__socialNetwork-link {
  border-radius: 50%;
  overflow: hidden;
  width: 25px;
  height: 25px;
  display: block;
}

.footer__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 23px;
  display: block;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #E3E3E3;

  &:hover {
    color: #E3E3E3;
  }
}

.footer__list {
  padding-left: 0;
  list-style-type: none;
}

.footer__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__logo-icon {
  margin-bottom: 25px;
}

.footer__logo-copy {
  font-size: 16px;
  line-height: 19px;
  color: #E3E3E3;
  margin-bottom: 0;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__first-container {
  width: 100%;
  display: flex;
}

.footer__schedule {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.footer__second-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__second-container-block {
  flex: 1;
}

.footer__webdelo-block {
  display: flex;
  align-items: center;
  margin-top: 39px;
}

.footer__webdelo-block-text {
  font-size: 14px;
  line-height: 17px;
  color: #E3E3E3;
  display: block;
  margin-right: 6px;
}

.webdelo-logo {
  background: url("../img/logo-webdelo.svg") no-repeat center;
  background-size: 100% auto;
  width: 85px;
  height: 23px;
  display: block;
}

@media (max-width: 991.98px) {
  .footer__second-container-block {
    &:first-child {
      flex: 2;
    }
  }

  .footer__info-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__info-wrapper>span:last-child {
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 17px;
  }

  .footer__bottom-block {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .footer__first-container {
    flex-direction: column;
  }

  .footer__text {
    br {
      display: none;
    }
  }

  .footer__schedule {
    margin-right: 0;
    margin-bottom: 36px;

    .footer__text:nth-child(3) {
      margin-bottom: 12px;
    }
  }

  .footer__title {
    margin-bottom: 12px;
  }

  .footer__item {
    margin-bottom: 4px;
  }

  .footer__services {
    margin-bottom: 25px;
  }

  .footer__logo-icon.main-logo {
    width: 142px;
    height: 57px;
  }

  .footer__socialNetwork-list {
    justify-content: center;
    padding-top: 33px;
  }
}
