.main .about-page_first-screen {
  background: linear-gradient(180deg, rgba(188, 221, 251, .5) 0%, rgba(188, 221, 251, 0) 100%);

  .tandem-first-screen__container {
    display: none;
  }

  .header {
    .header__nav-link,
    .header__feedback-phone {
      color: #222222;
    }

    .header__nav-link {
      font-weight: 600;
    }
  }

  .about-page_first-screen__block {
    padding-top: 155px;
    padding-bottom: 225px;
  }

  .about-page_first-screen__block-firstTitle {
    font-weight: 900;
    font-size: 58px;
    line-height: 71px;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 105px;
  }

  .about-page_first-screen__block-secondTitle {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 49px;
    display: block;
  }

  .about-page_first-screen__block-text {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 0;
    max-width: 472px;
  }
}

.about-page_first-screen__bg-icon {
  z-index: 1;
}

.about-page_first-screen__bg-icon-23 {
  bottom: 120px;
  left: 62%;
  animation: circleBig 5s infinite ease-in-out;
}

.about-page_first-screen__bg-icon-24 {
  bottom: 150px;
  left: 82%;
  animation: circleBig 5s infinite ease-in-out;
}

@media (max-width: 767.98px) {
  .main .about-page_first-screen .about-page_first-screen__block {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .main .about-page_first-screen .about-page_first-screen__block-firstTitle {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .main .about-page_first-screen .about-page_first-screen__block-secondTitle {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .main .about-page_first-screen .about-page_first-screen__block-text {
    font-size: 16px;
    line-height: normal;
  }

  .training-course__block-feedback-container-link {
    margin-left: 0 !important;
    margin-top: 10px;
  }
}
