.header {
  background: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding-top: 30px;
  padding-bottom: 31px;
  transition: top 1s;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.header__logo {
  margin-right: 32px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__feedback {
  display: flex;
  align-items: center;
}

.header__feedback-phone {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;

  &:hover {
    color: #333333;
  }
}

.header__feedback-messenger {
  min-width: 28px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 15px;
}

.header__calendar {
  min-width: 28px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
}

.header__calendar-icon {
  box-shadow: none;
  outline: none;
  border: none;

  &:focus, &:active {
    box-shadow: none;
    outline: none;
    border: none;
  }
}

.header__calendar-alertCircle {
  position: absolute;
  top: 1px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #FF3131;
  border-radius: 50%;
}

.header__nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
  margin-left: auto;
  margin-bottom: 0;
}

.header__nav-item {
  margin-right: 21px;

  &:last-child {
    margin-right: 0;
  }
}

.header__nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;

  &:hover {
    color: #333333;
    text-decoration: none;
  }
}

@-moz-document url-prefix() {
  .header__nav-link {
    font-size: 11px;
  }
}

.main {
  .header {
    box-shadow: none;
    background: initial;

    &.fixed {
      background: #FFFFFF;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      transition: 1s;

      .header__nav-link {
        color: #333333;
        font-weight: 600;
      }

      .header__feedback-phone {
        color: #333333;
      }
    }

    .header__feedback-phone {
      color: #ffffff;
    }

    .header__feedback-messenger,
    .header__calendar {
      background: #ffffff;
    }

    .header__nav-link {
      color: #ffffff;
      font-weight: normal;
    }
  }
}

.header__nav-list-mob {
  display: none;
}

@media (max-width: 1199.98px) {

  .header__nav-list-dt {
    display: none;
  }

  .header__nav-list-mob {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 960px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 34px 30px;
    align-items: flex-start;

    &.active {
      display: flex;
    }

    .header__nav-list {
      display: flex;
    }

    .header__nav-list-mob-tel {
      display: block;
      padding-top: 35px;
      border-top:  1px solid #E3E3E3;
      width: 100%;

      a {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 24px;
        color: #222222;
      }
    }
  }

  .header__feedback-phone {
    display: none;
  }

  .header__calendar  {
    margin-left: 30px;
  }
}

@media (max-width: 767.98px) {
  .header__nav-list-mob {
    width: calc(100% - 40px);
  }

  .header__logo {
    margin-right: 5px;
  }
}

@media (max-width: 360px) {
  .header__feedback-messenger {
    margin-left: 5px;
  }

  .header__calendar {
    margin-left: 5px;
  }
}
