.slider-button {
  .slick-next,
  .slick-prev {
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .slick-next:before,
 .slick-prev:before {
   content: '';
   background: url(../img/new-vector-icon/slider-green-arrow.svg) center/100% auto no-repeat;
   width: 12px;
   height: 18px;
   display: block;
   opacity: 1;
 }

  .slick-arrow.slick-disabled:before {
    opacity: .5;
  }

  .slick-prev:before {
    transform: rotate(180deg);
  }
}
