.home-page-more-info {
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-page-more-info__title {
  text-align: center;
  margin-bottom: 28px;
}

.home-page-more-info__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 10px 34px 0;
}

.home-page-more-info__text {
  font-size: 18px;
  line-height: 26px;
  color: #555555;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.home-page-more-info__content-btn {
  width: 192px;
  height: 49px;
  margin-top: 84px;
  box-shadow: 0px 10px 15px rgba(216, 58, 58, 0.3);
}


.home-page-more-info__imgBlock {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 34px;
  padding-right: 32px;
  background: url("../img/home/home-page-5.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.home-page-more-info__imgBlock-btn {
  width: 183px;
  height: 49px;
  box-shadow: 0px 10px 15px rgba(216, 58, 58, 0.3);
  background: #FFFFFF;
}

@media (max-width: 767.98px) {
  .home-page-more-info__imgBlock {
    height: 400px;
    padding: 0;
    padding-bottom: 10px;
    justify-content: center;
  }

  .home-page-more-info__text {
    font-size: 16px;
    line-height: normal;
  }

  .home-page-more-info__content-btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
